.git
node_modules
.env
.env.*
ssl
uploads
user_uploads
user_files
avatars
screenshots
temp_uploads
**/__pycache__
**/.venv
src-tauri/target
src-tauri/gen
image-cas

docker-control
docker-control-us
image-cas-us
docker-release
